@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&family=Xanh+Mono:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quintessential&display=swap');

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  line-height: 1.3;
  padding: 0;
  color: #4F4D47;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.large-nav {
  display: none;
}

.my-intro {
  display: grid;
  /* place-items: center;
  text-align: center; */
  height: 13.17vh;
  width: 100vw;
  background-image: url("./components/images/6.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  z-index: 1;
}

.top-buttons span {
  display: block;
  position: fixed;
}

.top-buttons a {
  position: fixed;
  left: 1em;
  top: 40em;
  text-decoration: none;
  color: #4F4D47;
  border: 1px solid #4F4D47;
  padding: 0.4em 1em;
  font-size: small;
}

.top-buttons a:hover {
  background-color: #f9f9f9;
  border: 1px solid #4F4D47;
}
.small-links {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: -100%;
  left: 0;
  background-color:#F9F9F9;
  overflow: hidden;
  padding-top: 4.4em;
  text-align: center;
  transition: 550ms;
  text-transform: capitalize;
}
.small-links.active {
  height: 60%;
  top: 0;
  transition: 550ms;
}

.small-links a {
  padding: 0.6em;
  text-decoration: none;
  font-size: 1.5em;
  color: #4F4D47;
  display: block;
  transition: 0.3s;
}

.small-links a:hover {
  color: #4F4D47;
}

.small-links .closebtn {
  position: absolute;
  top: 1em;
  right: 1.1em;
  font-size: 36px;
  border: none;
  background-color: #f9f9f9;
  color: #4F4D47;
}

.menu-small-btn {
  color: #4F4D47;
  right: 0.3em;
  top: 0.3em;
  font-size: 3em;
  cursor: pointer;
}
.my-icon-sm {
  color: #4F4D47;
  left: 0.3em;
  top: 0.3em;
  font-size: 3em;
}

.my-sm-links {
  padding: 0;
  margin: 0;
}

.my-sm-links a {
  color: #4F4D47;
  font-size: 2em;
  padding: .3em;
}

.my-sm-links a.whatsapp:hover{
  color:rgb(15, 218, 35);
}
.my-sm-links a.linkedin:hover{
  color:rgb(15, 171, 218);
}
.my-sm-links a.github:hover{
  color:rgb(141, 148, 148);
}
.my-sm-links a.email:hover{
  color:rgb(238, 178, 49);
}

.border-bot {
  position: relative;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.border-bot:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.border-bot:after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, transparent, transparent 40%, transparent);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
}

.my-intro{
  text-align: center;
}

.my-intro .my-name {
  font-size: 1.4rem;
  margin-bottom: 0.3em;
  position: relative;
  font-weight: 900;
  font-family: 'Quintessential', cursive;
  color: #4F4D47;

}

.my-intro .title {
  color: #4F4D47;
  position: relative;
  font-size: 1.1rem;
}


/* about */
.heading {
  width: 50%;
  text-align: center;
  font-size: 1.4em;
  color: #4F4D47;
  margin: 0 auto;
}

.name {
  font-size: 1.7em;
}

.my-passion {
  width: 100%;
  font-weight: bold;
}

.myPara {
  width: 90%;
  padding-left: 0.5em;
  margin: 2em 2em 0 0;
  text-align: left;
  border-left: .15em solid #4F4D47;
}

.more-info {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: small;
  padding-bottom: 1em;
  padding-left: 1em;
  width: 60%;
}

.paragraphs{
  padding-left: 1em;
}

.about {
  width: 100vw;
  background-image: url("./components/images/6.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.arrow{
  color: #4F4D47;
  font-weight: bold;
  font-size: 2em;
}

.myself {
  width: 8em;
  height: 12em;

}

/* skills */

.section-one {
  background-image: url("./components/images/6.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.total_skills {
  color: #4F4D47;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.my-icon {
  display: none;
  font-size: 18em;
  text-align: left;
  color: #4F4D47;
}

.one-skill {
  background-color: #f9f9f9;
  color: #4F4D47;
  justify-content: center;
  font-size: 0.8em;
  text-align: center;
  padding: .4em .7em;
  border: 1px solid #787670;
}

/* projects */

.cards-section {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 1em;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}
.myDiv {
  width: 95%;
  margin: auto;
}
.MuiPaper-root{
  margin: auto;
}

.card-back button {
  text-decoration: none;
  color: #4F4D47;
  background-color: #f9f9f9;
  margin-top: 2em;
  cursor: pointer;
  padding: 0.6em;
  text-align: center;
  border-radius: 5px;
}

.cards-section .myDesc {
  display: none;
}

.card {
  margin: .5em;
  text-align: center;
  padding: 0 0 2em 0;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}
.contact-form form > input,
textarea {
  margin: 0.5em;
  padding: 0.9em;
  font-size: 1em;
  background: #fff;
  color: #4F4D47;
  border: none;
  border-bottom: 0.1em solid rgb(167, 196, 193);
}

.submit-btn {
  color: #4F4D47;
  width: 6em;
  background-color: #f9f9f9;
  padding: 0.4em 0.8em;
  border: none;
  margin: 1em auto;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 0.3em;
  transition: all 0.5s ease;
}

.send-icon {
  margin-bottom: -0.1em;
  padding-left: 0.2em;
  font-size: 1em;
}

#email-text {
  font-weight: bolder;
  display: block;
  font-style: italic;
  text-align: center;
  width: 50%;
  margin: auto;
}

.my_footer {
  display: grid;
  place-items: center;
  background-color: #F9F9F9;
  color: #4F4D47;
  padding: 4em;
  font-weight: bold;
  margin: auto;
  margin-top: 0;
  text-align: center;
  font-size: small;
  
}

.contact_details{
  color: #4F4D47;
  display: grid;
  grid-template-columns: 1fr;
  font-size: small;
  margin: 0;
}


@media screen and (min-width: 750px) {
  .more-info {
    grid-template-columns: 1fr 2fr;
    width: 90%;
  }

  .heading {
    color: #4F4D47;
  }

  .myself {
    width: 8em;
    height: 18em;
    margin-top: 0;
  }
 

  .my-intro .my-name {
    font-size: 2rem;
  }

  .my-intro .title {
    color: #4F4D47;
  }
}

@media screen and (min-width: 921px) {
  .my-intro .my-name {
    color: #4F4D47;
  }



  .about {
    width: 100vw;
    padding: 1em;
    box-shadow: none;
    overflow: hidden;
  }

  .myDiv {
    padding: 1em;
  }
}

@media screen and (min-width: 1032px) {
  .border-bot {
    background: linear-gradient(
      -45deg,
      transparent,
      transparent 40%,
      transparent
    );
  }
  .top-buttons span {
    display: none;
  }
  .small-nav {
    display: none;
  }
  .card 
  .menu-small-btn {
    display: none;
  }

  .large-nav {
    display: block;
  }
  body {
    background-color: #f9f9f9;
  }

  .heading {
    font-weight: lighter;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  /* landing page */

  .border-bot {
    position: relative;

    width: 9em;
    height: 9em;
    border-radius: 50%;
    background: linear-gradient(
      45deg,
      transparent,
      transparent 40%,
      transparent
    );
    animation: loader 2s linear infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }

  .border-bot:before {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .border-bot:after {
    content: "";
    position: absolute;

    background: linear-gradient(
      45deg,
      transparent,
      transparent 40%,
      transparent
    );
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
  }

  .code-tag {
    font-size: 4.5em;
  }

  .nav-one {
    font-size: 1rem;
    top: 16%;
    left:50%;
    padding: 0.2em;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #4F4D47;
    border-top: 1px solid #4F4D47;
    padding: 1em 3em;
    transform: translate(-50%, -50%);
  }

  .nav-one a {
    background-color: #F9F9F9;
    margin-top: 0.8em;
    text-decoration: none;
    color: #4F4D47;
    transition: all 0.5s ease;
    padding: 1em 2.9em;
  }

  .nav-one a:hover {
    color: #c3c2c2;
  }

  .nave-one:active{
    color: #4F4D47;
  }

  .nav-two {
    font-size: 2rem;
    right: 0.7em;
    top: 10em;

    position: fixed;
    padding: 5px 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav-two a {
    background-color: #F9F9F9;
    margin-top: 0.6em;

    color: #fff;
  }

  .nav-one .proj {
    font-size: 0.6em;
    padding: 0.3em 0 0 0.3em;
    background: #F9F9F9;
    transition: background 0.5s ease;
  }
  .nav-one .proj:hover {
    background-color: #fff;
  }

  .nav-two a:hover {
    color: #4F4D47;
    transition: color 0.5s ease;
  }

  .my-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  #home{
    position: fixed;
    left:50%;
    transform: translate(-50%, -0%);
    
  }

  .my-name{
    position: fixed;
  }

  .my-intro .my-name {
    font-size: 2.1rem; 
  }

  .my-intro .title {
    color: #4F4D47;
    font-size: 1rem;
  }

  /* about */
  .name {
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
  }

  .my-passion {
    font-size: 1.1em;
    padding: 0 0 0 3em;
  }
  .heading {
    font-size: 2.1em;
    font-weight: bold;
  }

  .my-passion {
    width: 80%;
  }

  .myPara {
    margin: auto;
    padding-left: 1.5em;
  }

  .myPara:last-child{
    margin-top: 1em;
  }

  .more-info {
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: 0 auto;
    margin-top: 4em;
  }

  .about {
    line-height: 1.5em;
    width: 100%;
    padding-top: 5em;
    background-color: #F9F9F9;
    text-align: center;

  }
  .myself {
    width: 17em;
    height: 32em;
    padding-bottom: 2em;
    text-align: right;
  }

  /* Skills */

  
  .my-skills {
    display: grid;
    grid-template-columns:1fr;
    width: 50%;
    padding: 4em auto;
    margin: auto;
  }

  .my-icon {
    display: block;
    font-size: 10em;
    text-align: left;
    color: #4F4D47;
  }

  .one-skill {
    background-color: #4F4D47;
    place-items: center;
    font-size: 0.7em;
    font-weight: bold;
    transition: all 0.5s linear;
    color: #F9F9F9;
  }

  .one-skill:hover {
    background-color: #4F4D47;
    color: #fff;
  }


  /* projects */
  .myDiv {
    box-shadow: none;
    
  }

  .cards-section .myDesc {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;


  }

  .card {
    width: 40%;
    background-color: #F9F9F9;
    perspective: 80em;
    padding: 1em 2em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
  }

  .card h4 {
    font-size: 2.6em;
    color: #181617;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
    transition: all .6s ease-in-out;
    transform-style: preserve-3d;
    text-align: center;

  }

  .card-front {
    grid-area: 1 / 1;
  }

  .card-back {
    grid-area: 1 / 1;
    background-color: #F9F9F9;
    transform: rotateX(-90deg);
    display: grid;
    place-items: center;
    color: #4F4D47;
    text-align: center;
  }


  .card-back h4 {
    font-weight: bold;
    text-align: center;
  }

  .card-back p {
    display: block;
    width: 10em;
    text-align: center;
  }

  .card-back a{
    margin-top: 2em;
    color: #4F4D47;
  }

  .card-back a:hover {
    color: #4F4D47;
  }

  .card-container img {
    width: 15em;
    height: 10em;
  }

  .card:hover .card-container {
    transform: rotateX(90deg);
  }

  /* card end */

  /* contact */

  .contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 1.5em auto;
  }

  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #f9f9f9;
    transition: 0.3s all;
  }
  .contact-form:hover {
    background-color: #F9F9F9;
  }

  .contact-form form > input,
  textarea {
    margin: 0.8em;
    padding:1em;
    font-size: 1.2em;
    background: #f9f9f9;
    color: #626161;
    border: none;
    border-radius: 5px;
  }

  .submit-btn {
    color: #353434;
    width: 6em;
    background-color: #F9F9F9;
    padding: 0.3em 0.8em;
    border: none;
    margin: 2em auto;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 0.3em;

    transition: all 0.5s ease;
  }

  .submit-btn:hover {
    background-color: #F9F9F9;
    color: #393a3a;
  }

  .send-icon {
    margin-bottom: -0.17em;
    padding-left: 0.2em;
    font-size: 1.1em;
  }

  .my_footer {
    display: grid;
    place-items: center;
    color: #fff;
    padding: 7em;
    font-weight: bold;
  }

  .more-footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .more-footer a {
    text-decoration: none;
    color: #F9F9F9;
    padding: 0.4em;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
}

@media screen and (min-width: 1124px) {
  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #F9F9F9;
  }
  .contact-form:hover {
    background-color: #F9F9F9;
  }
  .contact-form form {
    width: 60%;
    margin: auto;
  }

  .more-info {
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 1em auto;
    margin-top: 8em;
  }

  .my-skills {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 666px){
  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #F9F9F9;
    transition: 0.3s all;
  }
  .contact-form:hover {
    background-color: #F9F9F9;

  }
  .cards-section{
  grid-template-columns: 1fr ;

  }

}
@media screen and (min-width: 1000px){
  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #F9F9F9;

  }
  .contact-form:hover {
    background-color: #F9F9F9;
  }
  .cards-section{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1032px){
  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #F9F9F9;
   
  }
  .contact-form:hover {
    background-color: #F9F9F9;
  }
  .card-container img {
    width: 20em;
    height: 12em;
  }
  .cards-section{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1400px){
  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #F9F9F9;
    transition: 0.3s all;
  }
  .contact-form:hover {
    background-color: #F9F9F9;
  }
  .card-container img {
    width: 30em;
    height: 20em;
  }
  .cards-section{
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    }
}

button{
  margin: 1em;
}

.view-more{
  color: #ffffff;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}

.more-work{
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

