@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&family=Xanh+Mono:ital@1&display=swap");

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  line-height: 1.3;
  padding: 0;
  color: #f0f6f7ff;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.large-nav {
  display: none;
}

.my-intro {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1526498460520-4c246339dccb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDJ8fGNvZGV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 50em rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
}

.top-buttons span {
  display: block;
  position: fixed;
}

.top-buttons a {
  position: fixed;
  left: 1em;
  top: 40em;
  text-decoration: none;
  color: #fff;
  border: 1px solid #1ebed3;
  padding: 0.4em 1em;
  font-size: small;
}

.top-buttons a:hover {
  background-color: #1ebed3;
  border: 1px solid #d31ea6;
}
.small-links {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding-top: 4.4em;
  text-align: center;
  transition: 550ms;
  text-transform: capitalize;
}
.small-links.active {
  height: 60%;
  top: 0;
  transition: 550ms;
}

.small-links a {
  padding: 0.6em;
  text-decoration: none;
  font-size: 1.5em;
  color: #ebdcdc;
  display: block;
  transition: 0.3s;
}

.small-links a:hover {
  color: #fa15b5;
}

.small-links .closebtn {
  position: absolute;
  top: 1em;
  right: 1.1em;
  font-size: 36px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.menu-small-btn {
  color: #669db3ff;
  right: 0.3em;
  top: 0.3em;
  font-size: 3em;
  cursor: pointer;
}
.my-icon-sm {
  color: #d31ea6;
  left: 0.3em;
  top: 0.3em;
  font-size: 3em;
}

.my-sm-links {
  padding: 0;
  margin: 0;
}

.my-sm-links a {
  color: #fff;
  font-size: 2em;
  padding: 1em;
}

.border-bot {
  position: relative;

  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: linear-gradient(-45deg, #e98e07, #f01179 40%, #1ebed3);
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.border-bot:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.border-bot:after {
  content: "";
  position: absolute;

  background: linear-gradient(45deg, transparent, transparent 40%, transparent);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
}

.my-intro .my-name {
  font-size: 1.4rem;
  margin-bottom: 0.3em;
  position: relative;
  animation: text 2s 1;
  font-weight: 900;
  color: #d31ea6;
  text-shadow: 0 0 2em #0838d4;
  letter-spacing: 0.3em;
}

.my-intro .title {
  color: #669db3ff;
  font-size: 1.1rem;
  text-shadow: 0 0 20px #1ebed3;
  animation: texttwo 2s 1;
}

@keyframes text {
  0% {
    color: transparent;
    margin-bottom: -2.5em;
  }
  30% {
    letter-spacing: 0.5em;
    margin-bottom: -2.5em;
  }
  85% {
    letter-spacing: 0.4em;
    margin-bottom: -2.5em;
    text-shadow: 0 0 15px #d31ea6;
  }
  95% {
    letter-spacing: 0.5em;
  }
}

@keyframes texttwo {
  0% {
    color: transparent;
    text-shadow: none;
  }
  30% {
    color: transparent;
    text-shadow: none;
  }
  85% {
    color: transparent;
    text-shadow: none;
  }
  95% {
    color: #669db3ff;
  }
}

/* about */
.heading {
  width: 50%;
  text-align: center;
  font-size: 1.4em;
  color: #d31ea6;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #669db3ff;
}

.name {
  font-size: 1.7em;
}

.my-passion {
  width: 100%;
  font-weight: bold;
}

.myPara {
  width: 80%;
  padding-left: 0.5em;
  margin: 2em 2em 0 0;
  text-align: left;
  border-left: .15em solid #265456;
}

.more-info {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: small;
  padding-bottom: 1em;
  padding-left: 1em;
}

.paragraphs{
  padding-left: 1em;
}

.about {
  width: 100vw;
  padding-top: 1em;
  background-image: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8Y29kZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  box-shadow: inset 0 0 0 50em rgba(0, 0, 0, 0.7);
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.arrow{
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
}

.myself {
  width: 12em;
  height: 12em;

}

/* skills */

.section-one {
  background-image: url("./components/images/one.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 50em rgba(0, 0, 0, 0.7);
}

.total_skills {
  color: #669db3ff;
  width: 80%;
  margin: auto;
}

.my-icon {
  display: none;
  font-size: 18em;
  text-align: left;
  color: #f0f6f7ff;
}

.one-skill {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #669db3ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  place-items: center;
  justify-content: center;
  font-size: 0.8em;
  box-shadow: 0.5em 0.9em 1em#000;
  margin: 1em;
  text-align: center;
}

.total_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  place-items: center;
}
/* projects */

.cards-section {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 1em;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}
.myDiv {
  width: 95%;
  margin: auto;
}
.MuiPaper-root{
  margin: auto;
}

.card-back button {
  text-decoration: none;
  color: #fff;
  background-color: #669db3ff;
  font-size: 0.9em;
  margin-top: 2em;
  cursor: pointer;
  padding: 0.6em;
  text-align: center;
  border-radius: 5px;
}

.cards-section .myDesc {
  display: none;
}

.card {
  margin: 1em;
  text-align: center;
  padding: 0 0 2em 0;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}
.contact-form form > input,
textarea {
  margin: 0.5em;
  padding: 0.9em;
  font-size: 1em;
  background: #fff;
  color: #000;
  border: none;
  border-bottom: 0.1em solid rgb(167, 196, 193);
}

.submit-btn {
  color: #fff;
  width: 6em;
  background-color: #ff4f58ff;
  padding: 0.4em 0.8em;
  border: none;
  margin: 1em auto;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 0.3em;

  transition: all 0.5s ease;
}

.send-icon {
  margin-bottom: -0.1em;
  padding-left: 0.2em;
  font-size: 1em;
}

#email-text {
  font-weight: bolder;
  display: block;
  font-style: italic;
  text-align: center;
  width: 50%;
  margin: auto;
}

.my_footer {
  display: grid;
  place-items: center;
  background-color: rgb(32, 55, 65);
  color: #f0f6f7ff;
  padding: 2em;
  font-weight: bold;
  margin: auto;
  margin-top: 0;
  text-align: center;
  font-size: small;
  
}

.contact_details{
  color: #e6e6e6b7;
  display: grid;
  grid-template-columns: 1fr;
  font-size: small;
  margin: 0;
}


@media screen and (min-width: 750px) {
  .more-info {
    grid-template-columns: 1fr 2fr;
    width: 90%;
  }

  .heading {
    color: #fff;
  }

  .myself {
    width: 14em;
    height: 18em;
    margin-top: 0;
  }


  .one-skill {
    margin: 2em;
  }
  .total_skills {
    width: 60%;
  }

  .my-intro .my-name {
    font-size: 2rem;
    letter-spacing: 0.3em;
    text-shadow: 0 0 20px #d31eb5;
  }

  .my-intro .title {
    color: #669db3ff;
    font-size: 1.7;
    text-shadow: 0 0 20px #1ebed3;
    animation: texttwo 2.5s 1;
  }
}

@media screen and (min-width: 921px) {
  .my-intro .my-name {
    color: #fff;
    text-shadow: 0 0 3em #d31ea6;
  }



  .about {
    width: 100vw;
    padding: 1em;
    background-image: none;
    box-shadow: none;
    overflow: hidden;
  }

  .myDiv {
    padding: 1em;
  }
}

@media screen and (min-width: 1032px) {
  .border-bot {
    background: linear-gradient(
      -45deg,
      transparent,
      transparent 40%,
      transparent
    );
  }
  .top-buttons span {
    display: none;
  }
  .small-nav {
    display: none;
  }
  .card 
  .menu-small-btn {
    display: none;
  }

  .large-nav {
    display: block;
  }
  body {
    background-color: #041E29;
  }

  .heading {
    font-weight: lighter;
    border-bottom: 0.2em solid #193e3f;
    width: 20%;
    margin: 1.2em auto;
    padding: 1em;
    text-align: center;
    display: block;
  }

  /* landing page */

  .border-bot {
    position: relative;

    width: 9em;
    height: 9em;
    border-radius: 50%;
    background: linear-gradient(
      45deg,
      transparent,
      transparent 40%,
      transparent
    );
    animation: loader 2s linear infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }

  .border-bot:before {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .border-bot:after {
    content: "";
    position: absolute;

    background: linear-gradient(
      45deg,
      transparent,
      transparent 40%,
      transparent
    );
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
  }

  .code-tag {
    font-size: 4.5em;
  }

  .nav-one {
    font-size: 2rem;
    right: 1.2em;
    top: 2em;
    padding: 0.2em;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav-one a {
    background-color: transparent;
    margin-top: 0.8em;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
  }

  .nav-one a:hover,
  .nav-one a:hover {
    color: #0ca8ac;
  }

  .nav-two {
    font-size: 2rem;
    right: 0.7em;
    top: 10em;

    position: fixed;
    padding: 5px 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav-two a {
    background-color: transparent;
    margin-top: 0.6em;

    color: #fff;
  }

  .nav-one .proj {
    font-size: 0.6em;
    padding: 0.3em 0 0 0.3em;
    background: #fff;
    transition: background 0.5s ease;
  }
  .nav-one .proj:hover {
    background-color: #0ca8ac;
  }

  .nav-two a:hover {
    color: #0ca8ac;
    transition: color 0.5s ease;
  }

  .my-intro {
    background-image: url("./components/images/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: inset 0 0 0 40em rgba(43, 43, 91, 0.4);
  }

  .my-intro .my-name {
    font-size: 2.1rem;
    letter-spacing: 0.3em;
    text-shadow: none;
  }

  .my-intro .title {
    color: #0ca8ac;
    font-size: 1.9rem;
    text-shadow: 0 0 20px #1ecdd3;
  }

  /* about */
  .name {
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
  }

  .my-passion {
    font-size: 1.1em;
    padding: 0 0 0 3em;
  }
  .heading {
    font-size: 2.1em;
    font-weight: bold;
  }

  .my-passion {
    width: 50%;
  }

  .myPara {
    width: 85%;
    margin: auto;
    padding-left: 1.5em;
  }

  .myPara:first-child {
    margin: -3em 1em 3.5em 2.5em;
  }

  .myPara:last-child{
    margin-top: 3em;

  }

  .more-info {
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin: auto;
  }

  .about {
    line-height: 1.5em;
    width: 90%;
    margin: auto;
    background-image: none;
    background-color: inherit;
    text-align: center;
  }
  .myself {
    width: 25em;
    height: 30em;
    margin-bottom: 2em;
    text-align: right;
  }

  /* Skills */

  #skills {
    margin-top: 2em;
  }
  .my-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 4em auto;
  }

  .my-icon {
    display: block;
    font-size: 22em;
    text-align: left;
    color: #0d879f;
  }

  .one-skill {
    box-shadow: none;
    background-color: #072430;
    padding: 0.7em;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 0.7em;
    font-weight: bold;
    transition: all 0.5s linear;
    color: #fff;
  }

  .one-skill:hover {
    background-color: #fff;
    color: #072430;
  }

  .total_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    place-items: center;
  }

  /* projects */
  .myDiv {
    background-image: none;
    box-shadow: none;
    
  }

  .cards-section .myDesc {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;


  }

  .card {
    width: 40%;
    background-color: 041E29;
    perspective: 80em;
    padding: 1em 2em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
  }

  .card h4 {
    font-size: 2.6em;
    color: #181617;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
    transition: all .6s ease-in-out;
    transform-style: preserve-3d;
    text-align: center;

  }

  .card-front {
    grid-area: 1 / 1;
  }

  .card-back {
    grid-area: 1 / 1;
    background-color: #F5F6EE;
    transform: rotateX(-90deg);
    display: grid;
    place-items: center;
    color: #041e29;
    text-align: center;
  }


  .card-back h4 {
    font-weight: bold;
    text-align: center;
  }

  .card-back p {
    display: block;
    width: 13em;
    text-align: center;
  }

  .card-back a{
    margin-top: 2em;
    color: #6484ed;
  }

  .card-back a:hover {
    color: #e32cc8;
  }

  .card-container img {
    width: 20em;
    height: 15em;
  }

  .card:hover .card-container {
    transform: rotateX(90deg);
  }

  /* card end */

  /* contact */

  .contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 1.5em auto;
  }

  .contact-form {
    border-radius: 4px;
    position: relative;
    background-color: #041E29;
    transition: 0.3s all;
  }
  .contact-form:hover {
    background-color: #063b51;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
  .contact-form form > input,
  textarea {
    margin: 0.8em;
    padding:1em;
    font-size: 1.2em;
    background: #fff;
    color: #626161;
    border: none;
    border-radius: 5px;
  }

  .submit-btn {
    color: #fff;
    width: 6em;
    background-color: #30f5eb;
    padding: 0.3em 0.8em;
    border: none;
    margin: 2em auto;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 0.3em;

    transition: all 0.5s ease;
  }

  .submit-btn:hover {
    background-color: #c5fcf9;
    color: #0c343b;
  }

  .send-icon {
    margin-bottom: -0.17em;
    padding-left: 0.2em;
    font-size: 1.1em;
  }

  .my_footer {
    display: grid;
    place-items: center;
    color: #fff;
    padding: 7em;
    font-weight: bold;
  }

  .more-footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .more-footer a {
    text-decoration: none;
    color: rgb(150, 146, 146);
    padding: 0.4em;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
}

@media screen and (min-width: 1124px) {
  .contact-form form {
    width: 60%;
    margin: auto;
  }

  .more-info {
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
  }

  .my-skills {
    width: 70%;
  }
}

@media screen and (max-width: 666px){
  .cards-section{
  grid-template-columns: 1fr ;

  }

}
@media screen and (min-width: 1000px){
  .cards-section{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1032px){
  .card-container img {
    width: 24em;
    height: 16em;
  }
  .cards-section{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1400px){
  .card-container img {
    width: 30em;
    height: 20em;
  }
  .cards-section{
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    }
}

button{
  margin: 1em;
}

.view-more{
  width: 10%;
  font-size: large;
  color: #ffffff;
  padding: 1em 2em;
  border-radius: 5px;
}

.more-work{
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.view-more:hover{
  color: #9330e4;

}
