@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&family=Xanh+Mono:ital@1&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #0c343b;
  margin: 0;
  line-height: 1.3;
  padding: 0;
  color: rgb(221, 218, 218);
  font-family: "Roboto", sans-serif;
}

.heading {
  font-weight: lighter;
  letter-spacing: 5px;
  border-bottom: 2px solid #0ca8ac;
  width: 20%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  display: block;
}

/* landing page */

.border-bot {
  position: relative;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, transparent);
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.border-bot:before {
  content: "";
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;

  background: transparent;
  border-radius: 50%;
  z-index: 1000;
}
.border-bot:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, transparent);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.code-tag {
  font-size: 70px;
}

.nav-one {
  font-size: 35px;
  left: 19px;
  top: 100px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
}

.nav-one a {
  background-color: transparent;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

.nav-one a:hover,
.nav-one a:hover {
  color: #0ca8ac;
}

.nav-two {
  font-size: 30px;
  right: 18px;
  top: 380px;
  position: fixed;
  padding: 5px 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
}

.nav-two a {
  background-color: transparent;
  margin-top: 20px;

  color: #fff;
}

.nav-one .proj {
  font-size: 20px;
  padding: 7px 0 0 7px;
  background: #fff;
  transition: background 0.5s ease;
}
.nav-one .proj:hover {
  background-color: #0ca8ac;
}

.nav-two a:hover {
  color: #0ca8ac;
  transition: color 0.5s ease;
}

.my-intro {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
  background-image: url("./images/6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 600;
  box-shadow: inset 0 0 0 2000px rgba(43, 43, 91, 0.4);
}

.my-intro .my-name {
  font-size: 2.5rem;
  letter-spacing: 8px;
  margin-bottom: 10px;
  position: relative;
  animation: text 2s 1;
}

.my-intro .title {
  color: #0ca8ac;
  font-size: 2rem;
  text-shadow: 0 0 20px #1ecdd3;
  animation: texttwo 2s 1;
}

@keyframes text {
  0% {
    color: transparent;
    margin-bottom: -55px;
  }
  30% {
    letter-spacing: 20px;
    margin-bottom: -55px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -55px;
    text-shadow: 0 0 20px #1ecdd3;
  }
  95% {
    letter-spacing: 8px;
    margin-bottom: 10px;
  }
}

@keyframes texttwo {
  0% {
    color: transparent;
  }
  30% {
    color: transparent;
  }
  85% {
    color: transparent;
  }
  95% {
    color: #0ca8ac;
    text-shadow: 0 0 20px #1ecdd3;
  }
}

.section-one {
  text-align: center;
  height: 100vh;
}

/* contact */

.contact-form {
  background-color: rgba(4, 30, 41, 0.7);
  padding: 40px;
  left: 400px;
  position: fixed;
  width: 500px;
  border-radius: 5%;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-form form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5%;
}
.contact-form form textarea {
  height: 200px;
  margin: 5px;
}

.closebtn {
  color: #fff;
}

/* about */

.heading {
  text-align: center;
}

.my-passion {
  width: 50%;
  font-weight: bold;
}

.myPara {
  width: 90%;
  border-left: 4px solid #0ca8ac;
  padding-left: 20px;
}

.myPara:first-child {
  margin: -40px 30px 50px 50px;
}

.myself {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 30px;
  text-align: right;
}

.more-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 90%;
  margin: auto;
  text-align: left;
}

.about {
  line-height: 25px;
  height: 100vh;
  width: 80%;
  margin: auto;
}

/* Skills */
.my-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 4rem auto;
}

.my-icon {
  font-size: 15rem;
  text-align: left;
  color: #0d879f;
}

.one-skill {
  border: 1px solid #041e29;
  padding: 10px;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.5s linear;
}

.one-skill:hover {
  background-color: #fff;
  color: #041e29;
}

.total_skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  place-items: center;
}

/* projects */

.cards-section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.card {
  margin: 1rem;
  perspective: 900px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.card-front {
  grid-area: 1 / 1;
}

.card-back {
  grid-area: 1 / 1;
  background-color: #fff;
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
  color: #041e29;
  text-align: center;
}

.card-back a {
  text-decoration: none;
  color: #fff;
  background-color: #414242;
  border: 1px solid #818383;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.card-back h4 {
  font-weight: bold;
  text-align: center;
}

.card-back p {
  width: 13rem;
  text-align: center;
}

.card-back a:hover {
  color: #fff;
}

.card-container img {
  width: 15rem;
  height: 15rem;
}

.card:hover .card-container {
  transform: rotateY(180deg);
}

/* card end */

.my_footer {
  display: grid;
  place-items: center;
  background-color: #041e29;
  color: #fff;
  padding: 2rem;
  font-weight: bold;
}

.more-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.more-footer a {
  text-decoration: none;
  color: rgb(150, 146, 146);
  padding: 5px;
}

.more-footer a:hover {
  border-bottom: 1px solid #fff;
}
